/*
 * Main
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body {
    display: flex;
    min-height: 100vh;
    background-color: #edeef0;
    overflow: hidden;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #6b6b6b;
}

#header {
    position: relative;
    width: 250px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 0 20px 0;
}

#logo {
    display: block;
    width: 90%;
    padding: 10px 5%;
}

#user_block {
    display: block;
    padding: 0 5%;
    font-size: 14px;
    line-height: 42px;
    font-weight: bold;
}

#user_block > img {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
    vertical-align: top;
    margin-right: 5px;
}

#menu {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#menu > .item {
    position: relative;
    display: block;
    color: #545454;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

#menu > .item:hover {
    color: #263238;
    background-color: rgba(0, 0, 0, 0.05);
}

#wrapper {
    padding: 20px 40px;
    flex: 1;
}
 
/*
 * Dropdown
 */
.dropdown {
    position: relative;
    padding: 0 10px;
    padding-right: 20px;
    cursor: pointer;
}

.dropdown:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #878a98;
}

.dropdown[openned]:after {
    border-bottom: 4px solid #878a98;
    border-top: none;
}

.dropdown:hover,
.dropdown:focus,
.dropdown[openned] {
    background-color: rgba(0, 0, 0, 0.05);
}

.dropdown > .dropdown_container {
    position: absolute;
    right: 0;
    top: calc(100% + 7px);
    background-color: #ffffff;
    display: none;
    min-width: 200px;
    width: max-content;
    padding: 5px 0;
    border-radius: 3px;
    border: 1px solid #f2f2f2;
    z-index: 999;
    cursor: default;
}

.dropdown[openned] > .dropdown_container {
    display: block;
}

.dropdown > .dropdown_container:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    filter: drop-shadow(#f2f2f2 0 -1px 0);
}

.dropdown > .dropdown_container > .item {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown > .dropdown_container > .item > img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

.dropdown > .dropdown_container > .item:hover,
.dropdown > .dropdown_container > .item:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.dropdown > .dropdown_container > hr {
    border: none;
    height: 1px;
    background-color: #fff;
    margin: 5px 10px;
}

.dropdown .dropdown > .dropdown_container,
#menu .dropdown > .dropdown_container {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.dropdown .dropdown > .dropdown_container:before,
#menu .dropdown > .dropdown_container:before {
    content: none;
}

.dropdown .dropdown:after,
#menu .dropdown:after {
    bottom: auto;
    top: 20px;
    right: 15px;
}

/*
 * Formatting
 */
h1 {
    color: #263238;
    margin: 10px 0;
}

h3 {
    color: #455A64;
    margin: 0;
}

.muted {
    margin: 0;
    color: #a0a0a0;
    font-weight: normal;
}

hr {
    border: none;
    height: 1px;
    background-color: #9E9E9E;
    margin: 10px 0;
}

/*
 * Tables
 */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

thead th {
    text-align: left;
    background-color: #6c7ae0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

th, td { padding: 10px 15px; font-size: 14px; }
tr:nth-child(even) { background-color: #f8f6ff; }
tr:hover {
    background-color: rgba(108, 121, 224, 0.7);
    color: #fff;
}

/*
 * Forms
 */
input[type="text"] {
    border: 1px solid #e5e5e5;
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 4px;
}

.btn {
    background-color: #005296;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 20px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
    cursor: pointer;
}
.btn:not(:last-child) { margin-right: 10px; }
.btn-green { background-color: #009688; }
.btn-red { background-color: #d91e18; }

.btn[type="submit"] {
    display: block;
    margin-top: 20px;
    margin-left: auto;
}

.btn-small { padding: 4px 8px; }
.btn > svg {
    display: inline-block;
    vertical-align: sub;
    width: 16px;
    height: 16px;
}