@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

::selection {
    background: #d26f6f;
    color: #fff;
}

* { font-family: 'Roboto', sans-serif; }
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edeef0;
    margin: 0;
}
b, h4 { font-weight: 500; }

#room_select > [content] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*
 * Boxes
 */
#room_select {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 580px;
    margin: auto;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
}

#room_select .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

#room_select .item:hover, #room_select .item:focus {
    background-color: rgba(0, 0, 0, 0.05);
}
#room_select b { color: #4a76a8; }
#room_select .item > span {color: #878a98;font-weight: 400;margin-top: 5px;}

.muted {
    color: #4c5861;
    font-size: 14px;
}

#room_select > [heading] {
    text-align: left;
    border-bottom: 1px solid #e7e8ec;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#room_select > [heading] > b {
    float: right;
    font-size: 24px;
    margin-top: 9px;
    background: #fafbfc;
    padding: 0 10px;
    border-radius: 4px;
}

h1 {
    display: block;
    margin: 0;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: -1px;
}

.btn {
    display: inline-block;
    border: none;
    background-color: #4a76a8;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    vertical-align: top;
    padding: 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
    margin-left: auto;
    margin-top: 15px;
    cursor: pointer;
}

/*
 * Tooltips
 */
.tooltip {
    position: fixed;
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #c5d0db;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px;
    opacity: 0;
    z-index: 10000;
    transition: 0.3s;
}

.tooltip-bottom { margin-top: 10px; }
.tooltip-bottom > [helper] {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    filter: drop-shadow(#c5d0db 0 -1px 0);
    width: 0;
    bottom: 100%;
}